@model IEnumerable<Models.DepartmentLists>

@{
    ViewBag.Title = "index";
}

<h2>List of Departments</h2>

<div style="background-color:ghostwhite;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { departmentId = item.DepartmentId })
                </td>
            </tr>
        }

    </table>
    </div>
